In [1]:
import ifcopenshell

source_path = "./ARC_Modell_NEST_230328.ifc"

ifc_file = ifcopenshell.open(source_path)

print(ifc_file)

<ifcopenshell.file.file object at 0x0000018C86CA0890>

In [4]:
import pandas as pd

test_df = pd.DataFrame([1,2,3,4])
test_df

   0
0  1
1  2
2  3
3  4

In [8]:

elemente = ifc_file.by_type("IfcSpace")
elemente[0].get_info().get("type")

'IfcSpace'